<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hcy.newsproj.mapper.IReplyMapper">
    <resultMap id="replyuser" type="Reply">
        <id property="reply_id" column="reply_id"></id>
        <result property="reply_commid" column="reply_commid"></result>
        <result property="reply_uid" column="reply_uid"></result>
        <result property="reply_reuid" column="reply_reuid"></result>
        <result property="reply_context" column="reply_context"></result>
        <result property="reply_time" column="reply_time"></result>
        <association property="user1" column="reply_uid" javaType="User">
            <id property="user_id" column="user_id"></id>
            <result property="user_password" column="user_password" ></result>
            <result property="user_name" column="user_name" ></result>
            <result property="user_sex" column="user_sex" ></result>
            <result property="user_brith" column="user_brith" ></result>
            <result property="user_hobby" column="user_hobby" ></result>
        </association>
    </resultMap>

    <select id="fingReplyById" resultMap="replyuser">
        select * from reply,user where reply.reply_uid=user.user_id and reply_commid=#{reply_commid}
    </select>

    <insert id="insertReply" parameterType="Reply">
        insert into reply(reply_commid,reply_uid,reply_reuid,reply_context,reply_time) values (#{reply_commid},#{reply_uid},#{reply_reuid},#{reply_context},#{reply_time})
    </insert>

</mapper>